<div class="modal hide" id="modalPB">
	<div class="modal-content">
	  	<button class="button" id="close">&#215;</button>
		<%= image_tag "yt.jpg", alt: "alttext" %>

		<div class="modal-text mt-4 py-3">
			<h2>Yann Toma</h2>

			<div class="scroll pt-3" style="height: 40vh; overflow: scroll;">
				<p style="font-size: 12px; font-weight: lighter;">
					Yann Toma est Artiste et Professeur des Universités à l’École de Arts de La Sorbonne de Paris 1 Panthéon-Sorbonne. Il dirige l’équipe de recherche Art&Flux (Laboratoire ACTE) qui se consacre à la question du lien entre art et diplomatie. Il est Président de Sorbonne Développement Durable et Directeur de la Sorbonne Artgallery (centre d’art contemporain inscrit au cœur de la Sorbonne). Par ailleurs, il est membre de l’Institut des Hautes Etudes pour les Sciences et les Technologies du Ministère de la Recherche (IHEST). Il est artiste-observateur en résidence permanente au sein de l’ONU. Il positionne son travail, les formes singulières qu’il crée, ainsi que sa réflexion, à la frontière de l’expression artistique et citoyenne et les inscrit dans l’actualité politique et médiatique. Son travail artistique fait partie de nombreuses collections à travers de multiples médium. Son œuvre est notamment intégrée à la collection du Centre Georges Pompidou et son installation in situ Inondazione (Palais Farnese) a été mise à l’inventaire de l’Etat (CNAC). Son exposition participative personnelle au Grand Palais Dynamo-Fukushima (septembre 2011) a réuni plus de 24 000 personnes en près de trois jours en résonance avec les populations touchées par la catastrophe de Fukushima. De même avec Human Energy (décembre 2015), avec le soutien de l’Etat français et l’ONU, l’artiste a investi la Tour Eiffel dans son intégralité pendant la semaine des négociations de la COP21 et a additionné les calories de 80 millions de runners en une semaine. Ses œuvres mobilisent le concept d’Énergie Artistique (EA) qu’il a modélisé en association avec des mathématiciens et qu'il associe au niveau international autant aux acteurs artistiques qu'à ceux qui mettent en irriguent la société.
				</p>
			</div>
		</div>

	</div>
</div>