<div class="modal hide" id="wrapper-p">
	<div class="modal-content">
	  <button class="button" id="close">&#215;</button>
	  <%= image_tag "yt.jpg", alt: "alttext" %>
	  <div class="modal-text mt-4 pt-3">
		  <h2>This is modal title</h2>
		  <p>This is modal text</p>
	  </div>
	</div>
</div>