<section class="timeline">
  <ul>
    <li>
      <div>
        <time>11/05/21 · 15/05/21</time> 
        <p>Colloque en visioconférence</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        </p>
      </div>
    </li>

    <% @chapters.each do |chapter| %>
    	<li>
    	  <div>
    	    <time>11/05/21 · 15/05/21</time> 
    	    <%= link_to chapter_path(chapter) do %>
    	    	<span> <%= chapter.title %> </span>
    	    <% end %>
    	    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
    	    </p>
    	  </div>
    	</li>
    <% end %>
  </ul>
</section>