/* Add an active class to the active dropdown button */
.active {
  color: red;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-content {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.logo-container {
  margin: 30px;
}

.logo {
  width: 100%;
}

.second-title {
  line-height: 18px;
  font-size: 11px;
    margin: 0;
    letter-spacing: 1.5px;
    margin-top: 0px;
    font-weight: 600;
}

.logo-wrapper {
  display: grid;
  margin-bottom: 30px;
}

.logo-wrapper img {
  max-height: 40px;
  padding : 5px;
  margin: 0 auto;
}

.logo-wrapper #sorbonne {
  max-height: 65px;
}

.sidebar {
  display: grid;
    grid-template-rows: 1fr 2.5fr 1fr;
  position: fixed;
  font-weight: lighter;
  max-width: 330px;
  width: 33vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: whitesmoke;
  box-shadow: 0px 5px 45px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 5s ease-in-out;
}

.sidebar:hover {
  box-shadow: 0px 5px 245px 5px rgba(0, 0, 0, 0.2);
}

.menu-container {

  margin: 30px 30px 0px;
}

.menu-container:hover {
}

.menu {
  // transform: translate(0, -30%);
  // margin: 30px 30px;
}


.menu .dropdown li {
  padding: 10px 0;
  list-style: none;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

// .menu .dropdown:hover li {
//   color: red;
// }

.menu .swiper-button-next {
  background-size: 18px 14px;
    top: 15%;
    width: 14px;
    height: 19px;
    margin-top: 0px;
    z-index: 2;
    transition: 0.2s;
}

.menu .swiper-button-next {
  right: 3%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'red'%2F%3E%3C%2Fsvg%3E");
}

.menu .dropdown:hover .swiper-button-next {
  transform: rotate(90deg);
}

.menu .dropdown.active .swiper-button-next {
  transform: rotate(90deg);
}

.dropdown-content {
  display: none;
  margin: 20px 0px;
  color: red;
}

// .dropdown:hover .dropdown-content {
//   display: grid !important;
//   color: red;
// }

.dropdown-content-intervenant {
      max-height: 12vh;
    overflow: scroll;
    margin: 0px 0px 30px;
}

.dropdown-content-intervenant::after {
  content: 'scroll';
      position: absolute;
      font-style: italic;
      font-size: 10px;
    bottom: -20px;
}

.language {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  z-index: 100;
  list-style: none;
}

.language a {
  margin-left: 10px;
}

.underline-hover-btn {
    /* display: inline-block; */
    padding: 10px 0;
    border-radius: 0;
    color: black;
    /* margin-top: 2rem; */
    /* font-weight: bold; */
    /* font-size: 0.678rem; */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.underline-hover-btn:hover {
  color: black;
}
.underline-hover-btn:hover:before {
  transform: none;
  opacity: 1;
  transition-duration: 0.4s;
}
.underline-hover-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0px;
  background: red;
  transform: translateY(6px);
  opacity: 0;
  transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}

.back {
  position: absolute;
  top: 18px;
    z-index: 1;
    left: 25%;
    color: red;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.back:hover > p::before {
  content: '\002190';
  margin-right: 10px;
  display: inline;
}

.next {
  position: absolute;
  top: 18px;
    z-index: 1;
    right: 32%;
    color: red;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.next:hover > p::after {
  content: '\002192';
  margin-left: 10px;
  display: inline;
}

///////////////////////////////

.modal-link{
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  /*color:#eee;*/
}

#wrapper {
  color: red;
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  font-weight: lighter;
  font-family: 'Open Sans';
}

#close {
  color: red;
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  font-weight: lighter;
  font-family: 'Open Sans';
}

#wrapper:hover::after {
    content: '\002192';
  margin-left: 10px;
  display: inline;
}

.modal{
  box-shadow: 0px 5px 45px 5px rgba(0, 0, 0, 0.05);
  background: whitesmoke;
  height: 100vh;
  width: 400px;
}

.display{
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 9;
  animation: slide-in 0.3s;
}

@keyframes slide-in {
  from {
    left: 0px;
  }
  to {
    left: 320px;
  }
}

.hide{
  display: none;
}

.modal-content {
  padding: 30px;
}

