*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
  width: 50vw;
    position: absolute;
    right: 0;
}

.timeline ul {
  margin-bottom: 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 50px;
  background: black;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div.content {
  position: relative;
  bottom: 0;
  width: 680px;
  padding: 15px;
  background: none;
}

// .timeline ul li div::before {
//   content: "";
//   position: absolute;
//   bottom: 7px;
//   width: 0;
//   height: 0;
//   border-style: solid;
// }

.timeline ul li:nth-child(odd) div.content {
  left: -439px;
}

.timeline ul li:nth-child(odd) div.content::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div.content {
  left: -439px;
}

.timeline ul li:nth-child(even) div.content::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  margin-bottom: 15px;
    font-size: 22px;
  display: block;
  font-weight: lighter;
  text-align: end;
      border-bottom: 1px solid lightgray;
}

h2 {
  font-family: $headers-font;
    font-size: 36px !important;
    font-weight: 600 !important;
    margin: 0;
        max-width: 400px;

}

p {
  max-width: 400px;
}

a {
  font-weight: lighter; 
  color: red;
}

a:hover{
  color: red;
  text-decoration: none;
}

a:hover .title::after {
  content: "\279C";
    padding-left: 5px;
}

.colloque-link {
  margin-top: 10px;
}

.presidence {
  font-size: 12px;
}

.title {
  font-size: 12px;
}

.title span {
  font-weight: 600;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: red;
  top: 23px;
  width: 18px;
  height: 18px;
}

.timeline ul li div.content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div.content {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div.content {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div.content {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div.content {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div.content {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div.content {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div.content {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div.content::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div.content::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
